<div id = "noAuth" ng-controller = "rightBar">
	<div ng-model = "destroyCotroller">
    	<div ng-start-up = 'destroyController'>
			<h2 class="page-header">Checking: <accountname>:</h2>
		</div>
	</div>
</div>